*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    font-size: 15px;
}
#main {
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}
#header {
    position: relative;
    width: 100%;
    height: 96.25px;
    border-bottom: 1px solid rgba(0,0,0,0.69);  
    display: flex; 
    justify-content: center;
    align-items: center;
}
i {
    font-size: 33px;
}
.header-mid {
    position: absolute;
    height: 64.79px;
    font-size: 40px;
    font-weight: medium;
    line-height: 48.41px;
    bottom: 25.64%;
    top: 0.47%;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    position: absolute;
}
.nav-left{
    
    left: 2%;
    right: 67.12%;
    top: 0%;
    bottom: 0%;
}
.nav-left > div {
    display: flex;
    align-items: center;
}
.sub-nav {
    padding: 0 10px;
}
.nav-right {
right: 2.47%;
top: 0%;
bottom: 5.06%;
}

.nav-right .sub-nav {
    padding-right: 25.63px;
}

.hidden {
    display: none;
  }

  #search-icon {
    position: relative;
    z-index: 1;
  }
  
  #search-form {
    position: relative;
    top: -21px;
    margin-left: 3%;
    z-index: 2;
  }
  #search-form > form > button >img {
    height: 34px;
    width: 34px;
    
  }
  #search-form > form > button {
    position: absolute;
    left: 270px;
    background-color: #F5F5F5;
    height: 43px;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
  }
  #search-form > form > input {
    position: absolute;
    height: 43px;
    width: 270px;
    border-right: none ;
    background-color: #F5F5F5;
    border-bottom: 1px solid #000000;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
  }

  .result {
    font-size: 25px;
    border-bottom: 1px solid gray;
    width: 20%;
    margin: 30px 2% 0;

}

.row {
    position: relative;
    margin-top: 50px;
    width: 98.4%;
    min-height: 1500px;
    
}
.listcard {
    margin-top: 0px;
    top:145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    
}
.listcard > a {
    text-decoration: none;
    color: #1C1B1B;
}
.card {
    flex-basis: 20%;
    margin: 0px 0% 100px 2%;
    width: 380px;
    height: 602px;

}

.skin {
    display: flex;
}
.color-skin{
    box-sizing: border-box;
    margin-top: 26px;
    margin-right: 13px;
    margin-bottom: 21px;
    width: 37px;
    height: 27px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.sub-card {
    font-size: 20px;
    line-height: 24px;
    width: 380px;
}
.name {
    height: 36px;
    font-weight: 400;
}

.price {
    height: 29px;
    font-weight: 700;
}





 #footer {
    position: relative;
    height: 431px;
    background: #1C1B1B;
    color: #FFFFFF;
}
.footer-title {
    width: 100%;
    height: 48px;
    margin-top: 51px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line {
    width: 93.7%;
    height: 0px;
    border: 1px solid rgba(254, 254, 254, 0.16);
    margin: auto;
}
.footer-sub {
    display: flex;
    margin-top: 45px;
    margin-left: 186px;
    margin-bottom: 29px;
}
.footer-sub > div {
    width: 233px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 101px;
}
.footer-sub > div> div {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer-sub .recruitment {
    width: 200px;
    height: 91px;
}

.footer-sub .contact {
    width: 254px;
    height: 224px;
    
}
.footer-sub >.contact > .send {
    width: 170px;
    height: 44px;
    background: #212121;
    border: 0.5px solid #FFFFFF;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -120px;
}
.send .title-contact {
    width: 93px;
    height: 18px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
}
.send-sub {
    width: 144px;
    height: 10px;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.contact-inf {
    display: flex;
}
.contact-inf > div {
    width: 250px;
    height: 36px;
    text-align: start;
    font-size: 14px;
    line-height: 17px;
}
.contact-inf > img {
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 9px;
}