
.page-title{
    margin:  40px 0;
    font-size: 24px;
    line-height: 30px;
    width: 115px;
    box-shadow: 0 -5px #d8d8d8 inset;
}
.page-title2{
    margin:  40px 0;
    font-size: 24px;
    line-height: 30px;
    width: 205px;
    box-shadow: 0 -5px #d8d8d8 inset;
}
table {
    margin: 0;
    border: 1px solid black;
    border-collapse: collapse; 
    border-spacing: 1;
    table-layout: auto;
    width: 85%;
    font-size: 16px;
}
th {
    text-align: center;
}
tr img {
    width: 100px;
    height: 100px;
}
td {
    text-align: center;
    height: 115px;
}
thead,th,tr,td {border: 1px solid black;}
input{
    width: 50px;
    height: 20px;
}
.content {
    display: flex;
    min-height: 500px;
}
.suggest{
    width: 20%;
}
.cart-container{
    width: 80%;

}
.xoa {
    text-decoration: none;
    color: black;
}
.xoa:hover{
    color: blue;
    text-decoration: line-through;
}
.add>div {
    width: 18px;
    text-align: center;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;color: black;
    height: 20px;
}
.quatity{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
td > div {
    height: 20px;
    width: 30px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.tinhtong >tr>th{
    width: 25%;

}
.order {
    margin: 20px 0;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    float: right;
    margin-right: 15%;
}
.order:hover {
    cursor: pointer;
    background-color: #d8d8d8;
    color: black;
    
}