.product{
    width: 70%;
    display: flex;
    margin: 50px auto;
    height: 650px;
}
.product-img {
    width: 30%;
}
.product-img > img {
    width: 120%;
}
.product-des {
    width: 60%;
    font-weight: 400;
    font-size: 22px;
    margin-left: 210px;
}
.price {
font-weight: bold;
color: gray;
}
.line {
    margin-left: 0px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.size {
    width: 80%;
    font-size: 22px;
    margin: 10px 0;
}
.product-des > button {
    background-color: black;
    color:white;
    height: 50px;
    margin-top: 5px;
    width: 182px;
    border: 1px solid black;
    text-align: center;
    padding: 0px 20px;
    margin-right: 18px;
    margin-left: 5px;
}

.size-sub{
    height: 25px;
    width: 50px;
}
.quantity{
    margin-top: 10px;
    display: flex;
}
.quantity > .qty-text {
    margin-right: 10px;
}
.themgiohang {
    color: white;
    background-color: black;
    width: 150px;
    height: 45px;
}
button {
    cursor: pointer;
}


